*

!.bash_profile
!.bashrc
!.gtkrc-2.0
!.lock_icon*
!.lock_script.sh
!README.md
!.vimrc
!.wallpaper
!.xinitrc
!.Xresources
!.xserverrc
!.zlogin
!.zlogout
!.zpreztorc
!.zprofile
!.zshenv
!.zshrc
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/i3/config
!.config/neofetch/*
!.config/qutebrowser/*
!.config/ranger/*
!.config/rofi/*
!.config/termite/*
!.mylemonbar/*
!.xres/*
!.zprezto/modules/environment/init.zsh

!*/
