.PlayOnLinux/
.Xauthority
.Xresources.swo
.Xresources.swp
.bash_history
.bash_logout
.bashrc.swp
.cache/
.calcurse/
.cataclysm-dda/
.celestiarc
.config/Foxit Software/
.config/KADOKAWA/
.config/Popcorn-Time/
.config/QtProject.conf
.config/SpeedCrunch/
.config/Trolltech.conf
.config/canto/
.config/dconf/
.config/fcitx/
.config/gpick/
.config/gtk-2.0/
.config/htop/
.config/menus/
.config/mimeapps.list
.config/neofetch/
.config/openBVE/
.config/pulse/
.config/qutebrowser/bookmarks/
.config/qutebrowser/keys.conf
.config/qutebrowser/quickmarks
.config/ramennooujisama/
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/scope.sh
.config/ranger/tagged
.config/spring/
.config/sublime-text-2/
.config/transmission/
.config/unity3d/
.config/urw3-Linux/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi/
.config/vlc/
.cpan/
.esd_auth
.fehbg
.gimp-2.8/
.gitconfig
.hnbrc
.lesshst
.libpulseaudio/
.local/
.lock_icon.ico
.madgarden/
.mylemonbar/weather.py
.newsbeuter/
.nv/
.oh-my-zsh/
.openttd/
.pal/
.pki/
.python_history
.python_history-00589.tmp
.python_history-02563.tmp
.python_history-10198.tmp
.recently-used
.renpy/
.swn
.swo
.swp
.task/
.taskrc
.terminfo/
.thumbnails/
.vim/
.viminfo
.vimrc
.wallpaper
.wget-hsts
.wine/
.zcompdump
.zcompdump-Calcifer-5.3.1
.zcompdump.zwc
.zsh-update
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
Games/
Pictures/
PlayOnLinux's virtual drives
Rice/
Templates/
a.jpg
b.jpg
output.jpg
perl5/
