#define black	#020202
#define lblack	#262626
#define red	#cf4a4a
#define lred	#da7272
#define green	#4acf4a
#define lgreen	#72da72
#define yellow	#cf8d4a
#define lyellow	#daa672
#define blue	#4a4acf
#define lblue	#7272da
#define magenta	#8d4acf
#define lmagenta #a672da
#define cyan	#4acf8d
#define lcyan	#72daa6
#define white	#cccccc
#define lwhite	#f2f2f2

*color0: black
*color1: red
*color2: green
*color3: yellow
*color4: blue
*color5: magenta
*color6: cyan
*color7: white

*color8: lblack
*color9: lred
*color10: lgreen
*color11: lyellow
*color12: lblue
*color13: lmagenta
*color14: lcyan
*color15: lwhite

#include "/home/guidofe/.xres/urxvt.ad"
#include "/home/guidofe/.xres/rofi.ad"

